
<div class="sidebar">

    <h2>LANDING PAGES</h2>
    
    <main class="container-sidebar">
        <ul class="container-sidebar__links">
            <li routerLink="" 
                routerLinkActive="active" 
                class="list-item-sidebar">
                Puntos Colombia
            </li>
            <li routerLink="uber" 
                routerLinkActive="active" 
                class="list-item-sidebar">
                Uber
            </li>
        </ul>
    
    </main>
</div>