// Header
.header {
  margin: 1rem;
  .header__nav {
    display: flex;
    justify-content: space-between;

    img {
      width: 50px;
      height: 25px;
      margin-left: -10px;
    }
    @media(min-width: 768px){
        img{
            width: 150px;
            height: auto;
        }
    }
    

    .info-header {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: var(--primary);
      font-weight: bold;
      line-height: 1.3;
      font-size: 8px;
      margin-right: -10px;

      .info-header--saldo {
        font-weight: 400;
      }
    }
    @media(min-width: 768px){
        .info-header{
            font-size: 1rem;
        }
    }
  }
}

// Banner

.banner {

  background-color: var(--primary);

  .banner__title {
    margin: 0.5rem;
    font-size: 1rem;
    color: var(--dark);
    font-weight: 500;

    span {
      font-weight: bold;
    }
  }
}
@media(min-width: 768px){
    .banner{
        display: flex;
        justify-content: space-between;
        

        .banner__title{
            font-size: 2rem;
            padding: 1rem;
            color: var(--white);
        }
        img{
            width: 40%;
        }

    }
}

// Save
.save {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary);

  img {
    width: 50px;
    height: 50px;
  }

  .save__important-info {
    margin: 0.5rem;
    h2 {
      text-align: left;
      color: var(--dark);
    }
    p {
      text-align: left;
      padding: 0;
      color: var(--dark);
    }
  }
}
@media(min-width: 768px){
    .save{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        img{
            width: 200px;
            height: auto;
        }
    }
}



section {
  h2 {
    font-size: 15px;
    text-align: center;
    color: var(--primary);
  }
@media(min-width: 768px){
    h2{
        font-size: 2rem;
    }
}
  p {
    font-size: 0.7rem;
    text-align: center;
    line-height: 0.8rem;
    padding: 0.8rem;
  }
@media(min-width: 768px){
    p{
        font-size: 1.5rem;
        margin-bottom: 2rem;
        line-height: 2rem;

    }
}

  .information__items {
      width: 100%;
    .information__items__services {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem;

      img {
        width: 50px;
        height: 60px;
        padding: 0.5rem;
      }
      p {
        padding: 0;
        text-align: justify;
        font-size: 10px;

        span {
          font-weight: bold;
        }
      }
    }
@media(min-width: 768px){
    .information__items__services {
        flex-direction: row;
        
    }
}

  }
  h5 {
    color: var(--primary);
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
  }
  .information__contact {
    span {
      color: red;
    }
  }
}

footer {
  text-align: center;
  font-size: 12px;
  h3 {
    color: var(--primary);
  }
  .footer__link {
    color: red;
  }
  .footer__whatsApp {
    font-weight: bold;
  }
  .number {
    margin-bottom: 0.8rem;
  }

  .footer__puntos-col {
    color: var(--primary);
    padding-bottom: 2rem;
  }
}
