<header class="header">
  <div class="header__nav">
    <img
      src="../../../../assets/images/logo-header.png"
      alt="logo-puntos-colombia"
    />
    <div class="info-header">
      <p>Tienes 3.116 Puntos Colombia</p>
      <p class="info-header--saldo">Saldo al 23-dic-2021</p>
    </div>
  </div>
</header>
<div class="banner">
  <div class="banner__title">
    <p>CON</p>
    <p>PUNTOS COLOMBIA</p>
    <p><span>#NAVEGASEGURO</span></p>
</div>
<img src="../../../../assets/images/main-image.png" alt="img-banner" />
</div>

<main>
  <section>
    <h2>Hola, Santiago</h2>
    <p>
      Tu seguridad y la de tus Puntos Colombia es muy importante para nosotros,
      por eso te damos unos tips para que disfrutes tus dias a punta de Puntos
    </p>
  </section>

  <section class="save">
    <img src="../../../../assets/images/save.png" alt="ico-save" />

    <div class="save__important-info">
      <h2>Ten en cuenta!</h2>
      <p>
        En Puntos Colombia jamás te contactaremos para pedirte datos personales
        o confidenciales por ningún medio.
      </p>
    </div>
  </section>

  <section class="information">
    <h2>¿Cómo proteger tus datos y tus Puntos?</h2>
    <div class="information__items">
      <article class="information__items__services">
        <img src="../../../../assets/images/contact.png" alt="ico-contact" />
        <p>
          No te llamaremos a solicitar información como: <span>usuario, clave
            dinámica, código de seguridad y códigos de verificación.</span>  Si recibes
          una llamada solicitando esta información, cuelga y no la entregues por
          ningún motivo.
        </p>
      </article>
      <article class="information__items__services">
        <img src="../../../../assets/images/mobile.png" alt="ico-contact" />
        <p>
            Si llegas a ser contactado por mensaje de texto, WhatsApp o mail, <span>recuerda no entregar información.</span> 
        </p>
      </article>
      <article class="information__items__services">
        <img src="../../../../assets/images/safe.png" alt="ico-contact" />
        <p>
            Cuida tus Puntos Colombia con la clave dinámica que encuentras en nuestra app. Esta clave es para tu uso personal.
        </p>
      </article>
    </div>

    <h5>¡En Puntos Colombia estamos comprometidos con tu seguridad!</h5>

    <p class="information__contact">
        Recuerda que nuestras líneas oficiales de atención son <span>01 8000 423 600</span>  y Whatsapp <span>(300) 912 0488</span>
    </p>
  </section>
</main>

<hr>
<footer>
    <div class="footer">
        <h3>¿Tienes dudas?</h3>
        <a href="#" class="footer__link">Conoce mas</a>
        <p>01 8000 423 600</p>
        <span class="footer__whatsApp">WhatsApp o línea móvil:</span>
        <p class="number">(300) 912 0488</p>
        <a href="#" class="footer__puntos-col">www.puntoscolombia.com</a>
    </div>
    <div class="footer__social-media">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <i class="fa fa-facebook-official" aria-hidden="true"></i>

    </div>
</footer>
